<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e9540658-35e4-445c-bce2-562a0eb13686/resourceGroups/01/providers/Microsoft.Web/sites/Ratings-Website</ResourceId>
    <ResourceGroup>01</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ratings-website.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ratings-website.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Ratings-Website</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>